<!DOCTYPE html> 
<html>
  <head>
    <title>Date</title>
  </head>
  <body>
    <h1>Today</h1>
    Date.today.strftime("%a, %e %b %Y")
    <% day_of_week = %>
    <p><%= "The date is  " %></p>
  </body>
</html>